<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Multiple Disease Prediction System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Shaad1.png" rel="icon">
  <link href="assets/img/Shaad2.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P2HSBW5GFG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P2HSBW5GFG');
</script>
  
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Multiple Disease Prediction System</h2>

            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img class="img-fluid" src="../assets/img/portfolio/MDP - Portfolio Detail1.png" alt="MDP">
                </div>

                <div class="swiper-slide">
                  <img class = "img-fluid" src="../assets/img/portfolio/MDP - Portfolio Detail2.png" alt="MDP">
                </div>

                <div class="swiper-slide">
                  <img class = "img-fluid" src="../assets/img/portfolio/MDP - Portfolio Detail3.png" alt="MDP">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3></h3>
            <ul>
              
              <li><strong>Project URL</strong>: <a href="https://healthassess.streamlit.app/">https://healthassess.streamlit.app/</a></li>
              <li><strong>Github</strong>: <a href="https://github.com/shaadclt/Multiple-Disease-Prediction-System">https://github.com/shaadclt/Multiple-Disease-Prediction-System</a></li>
            </ul>

            <p>
              A website to predict multiple disease such as Diabetes, Parkinson's and Heart disease using machine learning. <br><br>• Used NumPy and Pandas for data cleaning and transformation.<br>• Used Support Vector Classifier for diabetes and Parkinson's disease prediction and Logistic Regression for heart disease prediction.<br>• Deployed using Streamlit on Streamlit Cloud.<br>
            </p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main><!-- End #main -->

  

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>
